:root {
    --text: #434455;
    --dark: #2e2f42;
    --second-text-color: #fff;
    --primary-brand: #4d5ae5;
    --light: #f4f4fd;
    --pressed-state: #404bbf;
    --button-noactive: #f4f4fd;
    --accent: #e7e9fc;
    --success: #31d0aa;
    --subtle-text: #8e8f99;
    --modal-overlay: #2e2f4266;
    --hero-background: #2e2f42b2;
    --block-hover: #2E2F4214;
    --modal-color: #FCFCFC;



}

body {
    font-family: Roboto, sans-serif;
    color: var(--dark);
    background-color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;

}

.container {

    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    
}

ul {
    list-style: none;
}

p, h1, h2, h3, h4, h5, ul {
    padding: 0;
    margin: 0;
}
.photo {
    display: block;
    max-width: 100%;
    height: auto;
}

/*logo*/

.header-container {

    display: flex;
    align-items: center;
    gap: 40px;

    border-bottom-style: solid;
    border-bottom-color: var(--accent);

}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 76px;
}

.address-nav {
    display: flex;
    align-items: center; 
    
}

.logo_first {
    font-family: Raleway, sans-serif;
    color: var(--primary-brand);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.logo_second {
    color: var(--dark);
 }

.site-nav {
    display: flex;
    gap: 40px;


} 

.site-nav .link {
    position: relative;

    color: var(--dark);
    font-weight: 500;
    text-decoration: none;
    padding: 24px 0;
    display: block;
}

.site-nav .link.current::after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
    content: '';
    transition: color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--pressed-state);

    
}

.site-nav .link.current {
    color: var(--primary-brand);
    text-decoration: none;
}

.addres-contact {
    display: flex;
    gap: 40px;
    
}

.addres-contact .link  {

    color: var(--text);
    text-decoration: none;
    font-style: normal;
    padding: 24px 0;
    display: block;
    transition: color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}


.addres-contact .link:hover,
.addres-contact .link:focus {
    color: var(--pressed-state);

}


.fon-hero-title {
    padding-top: 188px;
    padding-bottom: 188px;

    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
    background-color: var(--second-text-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1440px auto;
}

.hero-title {
    color: var(--second-text-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    max-width: 494px;
    margin: 0 auto 48px;


}

.button-main {
    font-family: Roboto, sans-serif;
    background-color: var(--primary-brand);
    color: var(--second-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    border-radius: 4px;
    border: 0px;
    padding: 16px 32px;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.04em;
    transition: 
    color 250ms, cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);

}

.button-main:hover,
.button-main:focus {
    color: var(--second-text-color);
    background-color: var(--pressed-state);
}

.block-description {
    display: flex;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 24px;

}

.title-description {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.class-description {
    flex-basis: calc((100% - 72px) / 4);  

    }
    
.description-icon {

    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    background-color: var(--light);
}



.photo-description {
    width: 64px;
    height: 64px;


}


.section-title {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 8px;
}


    


.section-description {
    color: var(--text);
}

.block-doing {
    padding-bottom: 120px;
    }

.doing {
    color: var(--dark);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    flex-wrap: wrap;
    gap: 24px;
    }

.doing-section {
   
    display: flex; 
    gap: 24px;
    margin-top: 72px;
}

.doing-colm {
    flex-basis: calc((100% - 48px) / 3);
}

 .teams-fon {
    background-color: var(--light);
    padding-bottom: 120px;
    padding-top: 120px;
} 

 
.teams {
    color: var(--dark);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
    }

.team-class {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    }

.worker-fon {
    font-size: 16px;
    line-height: 1.5;
    height: 224px;
    flex-basis: calc((100% - 72px) / 4); 
    background: var(--second-text-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    display: block;
    max-width: 100%; 
    height: auto;
    
}

.worker-section {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.worker {
    color: var(--dark);
    font-weight: 500;
    margin-bottom: 8px;

}
.team-job {
    color: var(--text);
}

.fon-section {
    padding-top: 96px;
    padding-bottom: 120px;
}
/*.button-section {
    padding-top: 83px;
    padding-bottom: 60px;
}*/

.button-port {
    display: flex;
    gap: 24px;
    text-align: center;  
    flex-wrap: wrap;
    justify-content: center;

}

.button-nav-port {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    border: 1px solid var(--accent);
    background-color: var(--button-noactive);
    color: var(--primary-brand);
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border-radius: 4px;
    transition: 
    color 250ms, cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms, cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.button-nav-port:hover,
.button-nav-port:focus  {

    color: var(--second-text-color);
    background-color: var(--pressed-state);
}

.button-nav-port:hover,
.button-nav-port:focus  {
    box-shadow: 
    0px 2px 2px 0px #0000001F,
    0px 2px 1px 0px #00000014,
    0px 3px 1px 0px #0000001a,
    0px 4px 4px 0px #00000040;
}


.fon-photo {
    background-color: var(--second-text-color);
    border-color: var(--accent);
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    margin-top: 60px;

}

   
.block-photo {
    flex-basis: calc((100% - 48px) / 3);
    height: 420px;
    transition: 
    border 250ms, cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.block-photo:hover {
        border: 1px solid #F4F4FD;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.block-image {
    position: relative;
    overflow: hidden;
    transition: transform 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms, cubic-bezier(0.4, 0, 0.2, 1);
    }


.photo-link:hover {
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.block-photo-description {
    color: var(--button-noactive);
    background-color: var(--primary-brand);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.block-photo:hover .block-photo-description
 {
    transform: translateY(0);

}

.description-hover {
    color: var(--light);
    text-align: left;
}

.title-section {
padding-top: 32px;
padding-bottom: 32px;
padding-left: 16px;
border-left: 1px solid var(--accent);
border-right: 1px solid var(--accent);
border-bottom: 1px solid var(--accent)
}

.section-title-photo {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 8px;
}

.link-block-photo {
    display: block;
}



.description-photo {
    color: var(--text); 
}


.customers-block {
    padding-top: 130px;
    padding-bottom: 120px;

}


.title-customers {
    color: var(--dark);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
    }

    .customers-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .customers-photo {
        
        flex-basis: calc((100% - 120px) / 6);
        height: 88px;
    }


    .customers-icon {
        fill: var(--subtle-text);
        border: 1px solid var(--subtle-text);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 
        fill 250ms, cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms, cubic-bezier(0.4, 0, 0.2, 1),
        border-radius 250ms, cubic-bezier(0.4, 0, 0.2, 1);
    }

    .photo-customers {
        width: 104px;
        height: 56px;
    }
        
  
    
    .customers-icon:hover,
    .customers-icon:focus  {
        border: 1px solid var(--pressed-state);
        border-radius: 4px;
        fill: var(--pressed-state);
        }
        


.footer {
    color: var(--accent);
    background-color: var(--dark);
    padding-top: 100px;
    padding-bottom: 100px;

} 

.footer-section {
    display: flex;

}

.footer-info {
width: 35%;
}


.logo_second_footer {
    font-weight: 800;
    color: var(--button-noactive);

}

.footer-text {
    width: 264px;
    margin-top: 16px;
}

.footer-contect {
    font-size: 16px;
    line-height: 1.5;
    display: block;
    max-width: 100%; 
    height: auto;
    width: 65%;
}

.fooret-title {
    color: var(--second-text-color);
}

.footer-list {
    display: flex;
    justify-content: left;
    gap: 24px;
    margin-top: 8px;

}

.footer-class {
    width: 40px;
    height: 40px;
    



}

.footer-item {
    width: 16px;
    height: 16px;
}



.footer-icon {
    width: 100%;
    height: 100%;
    background-color: var(--text);
    fill: var(--second-text-color);
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: background-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover,
.footer-icon:focus  {
    background-color: var(--success);
}


.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;

}

.social-class {
    width: 40px;
    height: 40px;
}

.social-item {
    width: 16px;
    height: 16px;
}

.social-link {
}

.social-icon {
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    border-radius: 50%;
    fill: var(--second-text-color);
    display: flex;
    align-items:center;
    justify-content: center;
    transition: background-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus  {
    background-color: var(--pressed-state);
}

.backdropt {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 500ms, visibility 500ms;
}

.backdropt.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdropt.is-hidden .modal {
    transform: scale(0);
}

.modal {
    position: relative;
    width: 100%;
    max-width: 408px;
    max-height: 576px;
    height: 100%;
    background-color: var(--modal-color);
    transition: transform 500ms; 
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--accent);
    fill: var(--dark);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 
    background-color 250ms, cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms, cubic-bezier(0.4, 0, 0.2, 1);

}


.button-modal {
 width: 24px;
 height: 24px;
}


.modal-close:hover,
.modal-close:focus {
    background-color: var(--pressed-state);
    fill: var(--second-text-color)
}

.modal-close {

}



